<form action='/articles/edit/{{article.id}}?_method=PUT' method="POST">
   <h2>Edit Article</h2>
   <label for="name">Header</label>
   <input type="text" name="name" value="{{article.name}}" required>
   <div class="nameError">{{errors.name}}</div>

   <label for="description">Description</label>
   <input type="text" name="description" value="{{article.description}}" required>
   <div class="descriptionError">{{errors.description}}</div>

   <label for="content">Article</label>
   <textarea name="content"cols="30" rows="10" required>{{article.content}}</textarea>
   <div class="contentError">{{errors.content}}</div>

   <button>Submit</button>
</form>