{{>header}}
 <h1 class="mb-4">Articles</h1>
    <a href="/articles/new" class="btn btn-success mb-4">Create new article</a>
    {{#each articles}}
        <div class="card mb-4">
            <div class="card-body">
                <h2 class="card-title"><a href="/articles/id/{{_id}}"><p>{{name}}</p></a></h2>
                 <div class="card-subtitle text-muted mb-2"><p>{{createdAt}}</p></div>  
                <div class="card-text mb-2"><p></p></div>
            </div>
        </div>
    {{/each}}
        <p class="numberOfArticles">Number of articles: {{numberOfArticles}}</p>
        <a id="prev" class="btn btn-secondary" href="/articles/read/{{id}}">Prev</a>
        <a id="next" class="btn btn-secondary" href="/articles/read/{{id}}">Next</a>
{{>footer}}

